@import '../../styles/variables';

.result {
  padding: 18px 24px;
  margin-bottom: 63px;
  height: 100%;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
    margin: 0;
    padding: 0;
  }

  li {
    background: pink;
    padding: 12px;
    text-align: center;
    border-radius: 8px;

    img {
      background: wheat;
    }
  }

  @media only screen and (min-width: $screen-sm) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

