a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
p {
  margin: 0;
  padding: 0;
  &.center {
    text-align: center;
  }
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
h2 {
  text-align: center;
}