$screen-xs: 320px;
$screen-sm: 460px;
$max-width: 600px;

$header: white;
$background-main-dark: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png');
$background-main-light: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
// $background-pokemon-card: rgba(232, 236, 241, 0.5);
$background-pokemon-card: white;
$light-grey: #F2F2F2;
$medium-grey: #919191;
$dark-grey: #313131;
$sea-blue: #30a7d7;