@import '../../styles/variables';

.pokemon {
  margin-bottom: 63px;
  height: calc(100vh - 64px - 69px - 32px);
  overflow: auto;

  h2 {
    margin-bottom: 6px;
  }

  h6 {
    margin-bottom: 16px;
    color: $dark-grey;
  }

  .text {
    margin: 200px 40px 0;
  }
}