/* For mobile phones: */
.not-found {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 63px;
  margin-top: 20px;
  height: calc(100vh - 64px - 69px - 40px);

  .not-found-img {
    width: 200px;
  }
}
